{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Видалити Групу{% endblock meta_title %}

{% block title %}Видалити Групу{% endblock title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block content %}

<form action="{% url "groups_delete" object.id %}" method="post">
  {% csrf_token %}
  <p>Ви дійсно хочете видалити групу: "{{ object }}"?</p>
  <input type="submit" value="Так" name="delete_button"
         class="btn btn-danger" /><br /><br />
</form>

{% endblock content %}


{% block footer %}
<div class="row" id="footer">
    <div class="col-xs-12">
        &copy; 2014 Сервіс Обліку Студентів
    </div>
</div>
{% endblock footer %}