{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Students" %}{% endblock meta_title %}
{% block title %}{% trans "Group List" %}{% endblock title %}
{% block logo %}{% trans "Students Accounting Service" %}{% endblock logo %}

{% block content %}

<a href="{% url "groups_add" %}" class="btn btn-primary">{% trans "Add Group" %}</a>

<!-- Start Students Listing -->
<table class="table">
  <thead>
    <tr>
      <th><a href="#">#</a></th>

      <th><a href="#">{% trans "The name of group" %} &uarr;</a></th>
      <th><a href="#">{% trans "Lider" %}</a></th>
      <th><a href="#">{% trans "Notes" %}</a></th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <td>{{ forloop.counter }}</td>

      <td><a href="{% url "groups_edit" group.id %}">{{ group.title }}</td>
      <td><a href="{% url "groups_edit" group.id %}">{{ group.leader }}</td>
      <td><a href="{% url "groups_edit" group.id %}">{{ group.notes }}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{% trans "Actions" %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url "groups_edit" group.id %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url "journal" %}?group={{group.id}}">{% trans "Journal" %}</a></li>
            <li><a href="{% url "groups_delete" group.id %}">{% trans "Delete" %}</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}


  </tbody>
</table>
<!-- End Students Listing -->
{% include "students/pagination.html" %}


{% endblock content %}
{% block footer %}
<div class="row" id="footer">
  <div class="col-xs-12">
    &copy; 2014 {% trans "Students Accounting Service" %}
  </div>
</div>
{% endblock footer %}