{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}Групи{% endblock title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block drop_down %}
<div class="col-xs-4" id="group-selector">
  <strong>Група:</strong>
  <select>
    <option value="">Усі Студенти</option>
    <option value="">Мтм-21, Віталій Подоба</option>
    <option value="">Мтм-22, Андрій Петров</option>
  </select>
</div>
{% endblock drop_down %}
{% block content %}

<a href="{% url "groups_add" %}" class="btn btn-primary">Додати Групу</a>
</div>
<!-- Start Students Listing -->
<table class="table">
  <thead>
    <tr>
      <th><a href="#">#</a></th>

      <th><a href="#">Назва &uarr;</a></th>
      <th><a href="#">Староста</a></th>

      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <td>{{ forloop.counter }}</td>

      <td><a href="{% url "groups_edit" group.id %}">{{ group.group_name }}</td>
              <td><a href="{% url "groups_edit" group.id %}">{{ group.leader_name }}</td>

              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
        <li><a href="/journal/{{ group.id }}">Відвідування</a></li>
        <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
        </ul>
        </div>
      </td>
    </tr>
    {% endfor %}


  </tbody>
</table>
<!-- End Students Listing -->
{% include "students/pagination.html" %}


{% endblock content %}
{% block footer %}
<div class="row" id="footer">
  <div class="col-xs-12">
    &copy; 2014 Сервіс Обліку Студентів
  </div>
</div>
{% endblock footer %}
