{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}Облік Відвідування{% endblock title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block drop_down %}
<div class="col-xs-4" id="group-selector">
  <strong>Група:</strong>
  <select>
    <option value="">Усі Студенти</option>
    <option value="">Мтм-21, Віталій Подоба</option>
    <option value="">Мтм-22, Андрій Петров</option>
  </select>
</div>
{% endblock drop_down %}
{% block content %}
            <div class="row period ">
              <span><a href="#">&leftarrow; </a>Жовтень 2014<a href="#">&rightarrow;</a></span>
            </div>

        <!-- Start Students Listing -->
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>

              <th>Студент</th>
              <th>Ср<br>1</th>
              <th>Чт<br>2</th>
              <th>Пт<br>3</th>
              <th>Сб<br>4</th>
              <th>Нд<br>5</th>
              <th>Пн<br>6</th>
              <th>Вт<br>7</th>
              <th>Ср<br>8</th>
              <th>Чт<br>9</th>
              <th>Пт<br>10</th>
              <th>Сб<br>11</th>
              <th>Нд<br>12</th>
              <th>Пн<br>13</th>
              <th>Вт<br>14</th>
              <th>Ср<br>15</th>
              <th>Чт<br>16</th>
              <th>Пт<br>17</th>
              <th>Сб<br>18</th>
              <th>Нд<br>19</th>
              <th>Пн<br>20</th>
              <th>Вт<br>21</th>
              <th>Ср<br>22</th>
              <th>Чт<br>23</th>
              <th>Пт<br>24</th>
              <th>Сб<br>25</th>
              <th>Нд<br>26</th>
              <th>Пн<br>27</th>
              <th>Вт<br>28</th>
              <th>Ср<br>29</th>
              <th>Чт<br>30</th>
              <th>Пт<br>31</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>

              <td><a href="#">Подоба Віталій</td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>


            </tr>
            <tr>
              <td>2</td>

              <td><a href="#">Корост Андрій</td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
            </tr>
            <tr>
              <td>3</td>

              <td><a href="#">Притула Тарас</td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" checked></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
              <td><input type="checkbox" name="" value="" ></td>
            </tr>
          </tbody>
        </table>
{% endblock content %}
{% block footer %}
    <div class="row" id="footer">
      <div class="col-xs-12">
        &copy; 2014 Сервіс Обліку Студентів
      </div>
    </div>
{% endblock footer %}
