{% extends "students/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}Редагувати Студента{% endblock meta_title %}
{% block title %}Редагувати Студента{% endblock title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block drop_down %}
<div class="col-xs-4" id="group-selector">
    <strong>Група:</strong>
    <select>
    <option value="">Усі Студенти</option>
    <option value="">Мтм-21, Віталій Подоба</option>
    <option value="">Мтм-22, Андрій Петров</option>
  </select>
</div>
{% endblock drop_down %}
{% block status_message %}
{% if form.errors %}
    <div class="alert alert-warning" role="alert">
        Будь-ласка, виправте наступні помилки
    </div>
{% endif %}
{% endblock status_message %} 
{% block content %}
{% crispy form %}
{% endblock content %}
{% block footer %}
<div class="row" id="footer">
    <div class="col-xs-12">
        &copy; 2014 Сервіс Обліку Студентів
    </div>
</div>
{% endblock footer %}