{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}Форма додавання студента{% endblock title %}
{% block logo %}Сервіс Обліку Студентів{% endblock logo %}
{% block drop_down %}
<div class="col-xs-4" id="group-selector">
    <strong>Група:</strong>
    <select>
    <option value="">Усі Студенти</option>
    <option value="">Мтм-21, Віталій Подоба</option>
    <option value="">Мтм-22, Андрій Петров</option>
  </select>
</div>
{% endblock drop_down %} 
{% block content %}
<form action="{% url "students_add" %}" method="post" enctype="multipart/form-data" class="form-horizontal"
    role="form">
    <div class="form-group">
        <label for="first_name" class="col-sm-2 control-label">Ім'я*</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="middle_name" class="col-sm-2 control-label">По-батькові</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="middle_name" id="middle_name" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="last_name" class="col-sm-2 control-label">Прізвище</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="ticket" class="col-sm-2 control-label">№ Білету*</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="ticket" id="ticket" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="birthday" class="col-sm-2 control-label">Дата народження</label>
        <div class="col-sm-3">
            <input type="date" class="form-control" name="birthday" id="birthday" placeholder="">
        </div>

    </div>
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">Фото</label>
        <div class="col-sm-3">
            <input type="file" id="photo" placeholder="" name="photo" multiple>
        </div>

    </div>
    <div class="form-group">
        <label for="student_group" class="col-sm-2 control-label">Група*</label>
        <div class="col-sm-3">
            <select class="form-control" name="student_group" id="student_group">
                <option>МтМ-21</option>
                <option>МтМ-22</option>
                <option>МтМ-23</option>

            </select>
        </div>

    </div>
    <div class="form-group">
        <label for="notes" class="col-sm-2 control-label">Додаткові нотатки</label>
        <div class="col-sm-3">
            <textarea name="notes" id="notes" class="form-control" rows="3"></textarea>
        </div>

    </div>
    <div class="form-group submit">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Додати" name="add_button" />
            <button type="submit" class="btn btn-primary" name="cancel_button">Скасувати</button>
        </div>
    </div>
</form>
{% endblock content %}
{% block footer %}
<div class="row" id="footer">
    <div class="col-xs-12">
        &copy; 2014 Сервіс Обліку Студентів
    </div>
</div>
{% endblock footer %}