{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Add Student" %}{% endblock meta_title %}
{% block title %}{% trans "Add Student" %}{% endblock title %}
{% block logo %}{% trans "Students Accounting Service" %}{% endblock logo %}

{% block status_message %}
{% if errors %}
    <div class="alert alert-warning" role="alert">
        {% trans "Please correct the following errors" %}
    </div>
{% endif %}
{% endblock status_message %} 
{% block content %}
<div class="row ">
    <div class="col ">
        <form action="{% url "students_add" %}" method="post" enctype="multipart/form-data" class="form-horizontal"
            role="form">
            <div class="form-group has-error">
                <label for="first_name" class="col-sm-2 control-label">{% trans "Name" %}*</label>
                <div class="col-sm-3">
                    <input value="{{ request.POST.first_name }}" type="text" class="form-control" name="first_name"
                        id="first_name" placeholder="">
                </div>
                <span class="help-block">{{ errors.first_name }}</span>
            </div>
            <div class="form-group">

                <label for="middle_name" class="col-sm-2 control-label">{% trans "Patronymic" %}</label>
                <div class="col-sm-3">
                    <input value="{{ request.POST.middle_name }}" type="text" class="form-control" name="middle_name"
                        id="middle_name" placeholder="">
                </div>

            </div>
            <div class="form-group has-error">
                <label for="last_name" class="col-sm-2 control-label">{% trans "Last Name" %}*</label>
                <div class="col-sm-3">
                    <input value="{{ request.POST.last_name }}" type="text" class="form-control" name="last_name"
                        id="last_name" placeholder="">
                </div>
                <span class="invalid-feedback">{{ errors.last_name }}</span>
            </div>
            <div class="form-group has-error">
                <label for="ticket" class="col-sm-2 control-label">{% trans "Ticket #" %}*</label>
                <div class="col-sm-3">
                    <input value="{{ request.POST.ticket }}" type="text" class="form-control" name="ticket" id="ticket"
                        placeholder="">
                </div>
                <span class="invalid-feedback">{{ errors.ticket }}</span>
            </div>
            <div class="form-group has-error">
                <label for="birthday" class="col-sm-2 control-label">{% trans "Date of birth" %}*</label>
                <div class="col-sm-3">
                    <input value="{{ request.POST.birthday }}" type="date" class="form-control" name="birthday"
                        id="birthday" placeholder="">
                </div>
                <span class="invalid-feedback">{{ errors.birthday }}</span>
            </div>
            <div class="form-group">
                <label for="photo" class="col-sm-2 control-label">{% trans "Photo" %}</label>
                <div class="col-sm-3">
                    <input type="file" id="photo" placeholder="" name="photo" multiple>
                </div>

            </div>
            <div class="form-group has-error">
                <label for="student_group" class="col-sm-2 control-label">{% trans "Group" %}*</label>
                <div class="col-sm-3">
                    <select class="form-control" name="student_group" id="student_group">
                        <option disabled selected>{% trans "Choose a group" %}</option>
                        {% for group in groups %}
                        <option value="{{group.id}}" {% if group.id == request.POST.student_group|add:0 %}
                            selected{% endif %}>{{group.title}}</option>
                        {% endfor %}


                    </select>
                </div>
                <span class="invalid-feedback">{{ errors.student_group }}</span>
            </div>
            <div class="form-group">
                <label for="notes" class="col-sm-2 control-label">{% trans "Additional notes" %}</label>
                <div class="col-sm-3">
                    <textarea name="notes" id="notes" class="form-control" rows="3">{{ request.POST.notes }}</textarea>
                </div>

            </div>
            <div class="form-group submit">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="{% trans "Add" %}" name="add_button" />
                    <button type="submit" class="btn btn-link" name="cancel_button">{% trans "Cancel" %}</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
    
</div>

{% endblock content %}
{% block footer %}
<div class="row" id="footer">
    <div class="col-12">
        &copy; 2014 {% trans "Students Accounting Service" %}
    </div>
</div>
{% endblock footer %}