{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Delete Student" %}{% endblock meta_title %}

{% block title %}{% trans "Delete Student" %}{% endblock title %}
{% block logo %}{% trans "Students Accounting Service" %}{% endblock logo %}
{% block content %}

<form action="{% url "students_delete" object.id %}" method="post">
  {% csrf_token %}
  <p>{% blocktrans %}Do you really want to delete student:"{{ object }}"?{% endblocktrans %}</p>
  <input type="submit" value="Так" name="delete_button"
         class="btn btn-danger" /><br /><br />
</form>

{% endblock content %}


{% block footer %}
<div class="row" id="footer">
    <div class="col-xs-12">
        &copy; 2014 {% trans "Students Accounting Service" %}
    </div>
</div>
{% endblock footer %}