{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}{% trans "Contact the Administrator" %}{% endblock meta_title %}
{% block title %}{% trans "Contact the Administrator" %}{% endblock title %}
{% block logo %}{% trans "Students Accounting Service" %}{% endblock logo %}

{% block status_message %}
{% if form.errors %}
<div class="alert alert-warning" role="alert">
{% trans "Please correct the following errors" %}
</div>
{% endif %}
{{ block.super }}
{% endblock %}
{% block content %}
{% crispy form %}
{{number}}
{% endblock content %}